# Build results
[Dd]ebug/
[Rr]elease/
bin/
obj/
*.user
*.suo
*.sln.docstates

# NuGet
packages/
*.nupkg

# BepInEx
BepInEx/
*.cfg

# OS
.DS_Store
Thumbs.db

# IDE
.vs/
*.csproj.user
*.csproj.DotSettings.user